<div class="container">	
	<div class="textarea form-display">
		<div class="output-form">
			<div class="output-form-title">
				<h2> Set Options </h2>
			</div>
			<hr class="output-form-hr-line">
			<div class="form-wrapper">
				<form>
					<div class="form-group">
						<label for="textarea">{{label}}</label>
						<textarea type="text" rows="{{rows}}" cols="{{cols}}" class="form-control" placeholder="{{placeholder}}"></textarea>
					</div>
				</form>
			</div>
		</div>
		<div class="edit-properties">
			<div class="edit-properties-title">
				<h3>Edit Properties:</h3>
			</div>
			<hr class="output-form-hr-line">
			<div class="edit-form">
				<form class="form-horizontal"  (ngSubmit)="storeData(); textarea.reset()" 
				#textarea="ngForm">
					<div class="form-group form-fld">
						<label class="control-label col-sm-2" for="label">Label:</label>
						<div class="col-sm-10">		
							<input type="text" [(ngModel)]="label" name="label" class="changeForm textarea-label form-control" id="label" placeholder="Add/edit control label here">
						</div>
					</div>
					<div class="form-group form-fld">
						<label class="control-label col-sm-2" for="id">Id:</label>
						<div class="col-sm-10">
							<input type="text" [(ngModel)]="id" name="id" class="form-control" id="id" placeholder="Add/edit id here">
						</div>
					</div>
					<div class="form-group form-fld">
						<label class="control-label col-sm-2" for="class">Class:</label>
						<div class="col-sm-10">	
							<input type="text" [(ngModel)]="class" name="class" class="form-control" id="class" placeholder="Add/ edit class here">
						</div>	
					</div>
					<div class="form-group form-fld">
						<label class="control-label col-sm-2" for="rows">Rows:</label>
						<div class="col-sm-10">	
							<input type="text" [(ngModel)]="rows" name="rows" class="changeForm textarea-rows form-control" id="rows" placeholder="Add/ edit rows here">
						</div>	
					</div>
					<div class="form-group form-fld">
						<label class="control-label col-sm-2" for="cols">Cols:</label>
						<div class="col-sm-10">	
							<input type="text" [(ngModel)]="cols" name="cols" class="changeForm textarea-cols form-control" id="cols" placeholder="Add/ edit class here">
						</div>	
					</div>
					<div class="form-group form-fld">
						<label class="control-label col-sm-2" for="name">Name:</label>
						<div class="col-sm-10">	
							<input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Add/ edit name here">
						</div>	
					</div>
					<div class="form-group form-fld">
						<label class="control-label col-sm-2" for="placeholder">Placeholder:</label>
						<div class="col-sm-10">
							<input type="text" [(ngModel)]="placeholder" name="placeholder" class="changeForm textarea-placeholder form-control" id="placeholder" placeholder="Add/ edit placeholder here">
						</div>
					</div>
					<div class="form-group form-fld">
						<label class="control-label col-sm-2" for="required">Required:</label>
						<div class="col-sm-10">
							<input type="checkbox" [(ngModel)]="required" name="required" class="form-control" id="required" >
						</div>
					</div>
					<button class="btn btn-primary" type="submit">Ok</button>	
				</form>
			</div>
		</div>
	</div>
</div>